.jokeModalFormContent {
    /* height: 75px; */
    border: 1px solid #e3e4e7;
    border-radius: 5px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    margin-bottom: 5px;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 10px;
}

.jokeModalFormContent span {
    font-weight: bold;
}

.closeButton{
    border: 0;
    color:#7d8085;
    font-size: x-large;
    background-color: transparent;
    position: relative;
    left: 5px;
    /* top: -5px; */
}

.closeButton:hover{
    color: #5f6368;
}