body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* @font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI"),
    url("./fonts/SegoeUI.ttf") format("truetype");
  font-weight: normal;
} */

* {
  box-sizing: border-box;
}

button {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;

  border: 1px solid #e3e4e7;
  border-radius: 5px;
  color: #277be9;
  background-color: transparent;

  margin-bottom: 25px;
  padding: 7px 12px;
}

button:hover{
  background-color: #e8e8e8;
  transition: background-color 150ms linear;
  cursor: pointer;
}

button:not(:focus){
  transition: background-color 150ms linear;
}


.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}